body {
    background-color: #f0f4f8; /* Задаем простой фон */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Оформление шапки */
    color: white;
    padding: 15px;
    text-align: center;
}

h2, div, ul {
    margin-left: 20px;
}

div {
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    width: 250px;
}