<html>
<head>
    <title>Шагомер</title>
    <script type="text/javascript" src="/static/script.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Мой трекер шагов</h1>
    </header>

    <h2>Суммарно пройдено: {{ total }} шагов</h2>

    <div class="form-container">
        <h3>Добавить запись:</h3>
        <div>
            <input type="date" id="date">
            <label for="date">Дата</label>
        </div>
        <div>
            <input type="number" id="steps">
            <label for="steps">Количество шагов</label>
        </div>
        <br>
        <button onClick="addStep()">Add</button>
        <button onClick="clearAll()">Clear</button>
    </div>

    <ul>
        {% for record in records_list %}
        <li>
            <div>
                <strong>{{ record.date }}</strong>: {{ record.steps }} шагов
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>